{% extends "templates/web.html" %}

{% block title %} {{_( doc.name )}} {% endblock %}
{% block head_include %}
<style>
	body,
	html {
		padding: 0 !important;
		margin: 0 !important;
	}

	.iframe {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		width: 100%;
		min-height: 80vh;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.page_content {
		display: flex;
	}

	main.container {
		margin: 0 !important;
		padding: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		width: 100% !important;
		max-width: unset;

	}

	.web-footer {
		margin-top: 0;
		border-top: none;
	}
</style>
<script>
</script>
{% endblock %}
{% block page_content %}
<iframe class="iframe" src="#" frameborder=0></iframe>
<script>
	let path =  location.pathname;
	if (path==="/"){
		path="{{settings.home_page}}"
	}

	{%if doc.full_mobile == 0 %}
	window.onmessage = function (e) {
		if (e.data.name === "height") {
			document.querySelector(".iframe").style.height = e.data.height;
			document.querySelector(".iframe").style.minHeight = e.data.height;
		}
	}
	{% endif %}
	
	function isDesktop() {
		if (/Android|android|webOS|webos|iPhone|iphone|iPad|ipad|iPod|ipod|BlackBerry|blackBerry|IEMobile|iemobile|opera mini|Opera Mini/i.test(navigator.userAgent)) {

			return false;
		} else {
			{%if doc.full_mobile == 1 %}
			window.onmessage = function (e) {
				if (e.data.name === "height") {
					document.querySelector(".iframe").style.height = e.data.height;
					document.querySelector(".iframe").style.minHeight = e.data.height;
				}
			}
			{% endif %}
			return true;
		}
	}

	{%if doc.full_mobile == 1 %}

		if (isDesktop() === false) {
			const styles = `
		body,html{
			padding: 0!important;
			margin:0!important;
		}
		.iframe{
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;  
			width: 100%;
			min-height: 100%;
			max-height:100vh;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			
		nav {
			display:none!important;
		}
		footer.web-footer {
			opacity:0;
			display:none!important;
		}
		`;

			const styleSheet = document.createElement("style");
			styleSheet.innerText = styles;
			document.head.appendChild(styleSheet);

		}
	{% endif %}

	let paramsext=""
	if(location.href.split("?").length>0){
		paramsext = "&"+location.href.split("?")[1]
	}
	let integrar = "{{doc.integrar}}"
	if (integrar != "1") {
			if (isDesktop() === true) {
				document.querySelector(".iframe").setAttribute("src", "{{doc.url_escritorio}}&from_partent=" + location.pathname + `&origin=${location.origin}&integrar=1`+paramsext)
			} else {
				{%if doc.full_mobile == 1 %}
				document.querySelector(".iframe").setAttribute("src", "{{doc.url_telefono}}&from_partent=" + location.pathname.replace("web", "page") + "&integrar=1&origin=" + location.origin+paramsext)
				{%else %}
				document.querySelector(".iframe").setAttribute("src", "{{doc.url_telefono}}&from_partent=" + location.pathname + "&integrar=1&origin=" + location.origin+paramsext)
				{% endif %}
			}
	} else {
		if (isDesktop() === true) {
			document.querySelector(".iframe").setAttribute("src", "{{doc.url_escritorio}}&from_partent=" + location.pathname + `&integrar=1&crsf_token={{doc.token}}&user={{user}}&origin=${location.origin}`+paramsext)
		} else {
			{%if doc.full_mobile == 1 %}
			document.querySelector(".iframe").setAttribute("src", "{{doc.url_telefono}}&from_partent=" + location.pathname.replace("web", "page") + `&crsf_token={{doc.token}}&integrar=1&user={{user}}&origin=${location.origin}`+paramsext)
			{%else %}
			document.querySelector(".iframe").setAttribute("src", "{{doc.url_telefono}}&from_partent=" + location.pathname + `&crsf_token={{doc.token}}&integrar=1&user={{user}}&origin=${location.origin}`+paramsext)
			{% endif %}
		}
	}
</script>
{% endblock -%}